anyio==3.5.0
attrs==21.4.0
certifi==2021.10.8
charset-normalizer==2.0.11
coverage==6.3.1
fastapi==0.73.0
idna==3.3
iniconfig==1.1.1
packaging==21.3
pluggy==1.0.0
py==1.11.0
pydantic==1.9.0
pyparsing==3.0.7
pytest==7.0.0
pytest-cov==3.0.0
requests==2.27.1
sniffio==1.2.0
starlette==0.17.1
tomli==2.0.0
typing_extensions==4.0.1
urllib3==1.26.8
python-jose==3.3.0